## Copyright (C)2020 by John A Kline (john@johnkline.com)
## Distributed under the terms of the GNU Public License (GPLv3)
## See LICENSE for your rights.
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="weatherboard.css"/>
    #if $Extras.has_key('meta_title')
      <title>$Extras.meta_title (Internal)</title>
    #else
      <title>WeatherBoard&trade;&mdash;$station.location (Internal)</title>
    #end if
    <meta name="description" content="(Internal) Tablet formatted display of current temperature, dew point, wind speed, UV Index, barometer, 10m max wind gust, today's max wind gust, today's rainfall and current rain rate.">
    <style>
      #centered {
        width:100%;
        margin: auto;
      }
    </style>
  </head>
  <body style="background-color:black;">
    #include "analytics.inc"
    #include "realtime_updater2.inc"
    <div style="background-color:black;color:#e51b23;">
      <div>
        <table id="centered">
          <tr>
            #if $Extras.has_key('logo') and $Extras.logo != ''
              <td style="text-align:left;">
                <img src='$Extras.logo' alt='' width="100" style="margin-left:25px;"/>
              </td>
            #else
              <td style="text-align:left;width:145px;">
              </td>
            #end if
            <td style="text-align:center;">
              <h1 class="page_title" style="font-size:28px;">
                #if $Extras.has_key('title')
                  $Extras.title
                #else
                  WeatherBoard&trade;
                #end if
              </h1>
              <span class="lastupdate" style="font-size:18px;">
                #if $Extras.has_key('subtitle')
                  $Extras.subtitle
                #else
                  Updated continuously.
                #end if
              </span>
            </td>
            <td style="text-align:right;width:145px;">
              <span id="live-label"></span>&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div>
      <div>
        <div>
          <div>
            <table>
            </table>
          </div>
          <div style="color:red;">
            <table id="centered">
              <tr>
                <td style="text-align:center;font-family:monospace;font-size:105px">
                  <span id="current.outTemp.formatted">$current.outTemp.formatted</span><span>/</span><span id="current.dewpoint.formatted">$current.dewpoint.formatted</span><span>/</span><span id="current.extraTemp1">$current.extraTemp1</span>
              </td>
              </tr>
              <tr>
                <td style="text-align:center;font-family:monospace;font-size:105px;">
                  <span id="windSpeedAndBearing" style="font-family:monospace;font-size:105px;text-align:center;">
                    $current.windSpeed.formatted $current.windDir.ordinal_compass
                  </span><span>/</span><span id="10m.windGust.max.formatted">
                  </span><span>/</span><span id="day.windGust.max"></span>
                </td>
              </tr>
              <tr>
                <td style="text-align:center;font-family:monospace;font-size:105px">
                  <span id="current.UV.formatted">$current.UV.formatted</span>
                  <span>/</span>
                  <span id="barometer">$current.barometer</span>
                </td>
              <tr>
                <td style="text-align:center;font-family:monospace;font-size:85px;">
                        <span id="day.rain.sum">$day.rain.sum</span><span>&nbsp;</span><span id="current.rainRate">$current.rainRate</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    #include "footer2.inc"
  </body>
</html>
