## Copyright (C)2020-2026 by John A Kline (john@johnkline.com)
## Distributed under the terms of the GNU Public License (GPLv3)
## See LICENSE for your rights.
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
<html lang="en">
  <head>
    #include "analytics.inc"
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=1196">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon-180x180.png">
    <link rel="stylesheet" type="text/css" href="weatherboard.css">
    #if $Extras.has_key('meta_title')
      <title>$Extras.meta_title (Internal)</title>
    #else
      <title>WeatherBoard&trade;&mdash;$station.location (Internal)</title>
    #end if
    <meta name="description" content="(Internal) Tablet formatted display of current temperature, dew point, wind speed, UV Index, barometer, 10m max wind gust, today's max wind gust, today's rainfall and current rain rate.">
  </head>
  <body>
    #include "realtime_updater2.inc"
    <div class="header-band">
      <div>
        <table id="centered_title">
          <tr>
            #if $Extras.has_key('logo') and $Extras.logo != ''
              <td class="title-left">
                <img src='$Extras.logo' alt='' width="100" class="title-logo">
              </td>
            #else
              <td class="title-left">
              </td>
            #end if
            <td class="title-center">
              <h1 class="page_title">
                #if $Extras.has_key('title')
                  $Extras.title
                #else
                  WeatherBoard&trade;
                #end if
              </h1>
              <span class="lastupdate">
                #if $Extras.has_key('subtitle')
                  $Extras.subtitle
                #else
                  Updated continuously.
                #end if
              </span>
            </td>
            <td class="title-right">
              <span id="live-label"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;<br>&nbsp;
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="board-readings">
      <table id="centered_readings">
        <tr>
          <td class="reading">
            <span id="current.outTemp.formatted">$current.outTemp.formatted</span><span>&nbsp;</span><span id="current.dewpoint.formatted">$current.dewpoint.formatted</span><span>&nbsp;</span><span id="current.inTemp.formatted">$current.inTemp.formatted</span>
          </td>
        </tr>
        <tr>
          <td class="reading">
            <span id="windSpeedAndBearing">
              $current.windSpeed.formatted $current.windDir.ordinal_compass
            </span><span>/</span><span id="10m.windGust.max.formatted">
            </span><span>/</span><span id="day.windGust.max.formatted"></span>
            <span>&nbsp;</span><span id="current.radiation.formatted"></span>
          </td>
        </tr>
        <tr>
          <td class="reading">
            <span id="current.UV.formatted">$current.UV.formatted</span>
            <span>&nbsp;</span>
            <span id="barometer">$current.barometer</span>
          </td>
        </tr>
        <tr>
          <td class="reading-small">
            <span id="day.rain.sum.formatted">$day.rain.sum.formatted</span>/<span id="24h.rain.sum.formatted"></span><span>&nbsp;</span><span id="current.rainRate.formatted">$current.rainRate.formatted</span>&nbsp;<span id="total_watts">??.?</span>
          </td>
        </tr>
      </table>
    </div>
    #include "footer2.inc"
  </body>
</html>
